<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6rhWQl85W6x5G5aosz64YBHzLROyMpX0</string>
	<key>GCM_SENDER_ID</key>
	<string>283460147985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitflexHomeworkout</string>
	<key>PROJECT_ID</key>
	<string>fitflexhomeworkout</string>
	<key>STORAGE_BUCKET</key>
	<string>fitflexhomeworkout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283460147985:ios:10b2cf6a7d59bdb405cab0</string>
</dict>
</plist>